/* Loader taken from https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
  border: 6px solid lightgray; /* Light grey */
  border-top: 6px solid black; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: fixed;
  right: 6px;
  bottom: 6px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-btn {
  cursor: pointer;
}

.icon-cont {
  display: flex;
  align-items: center;
}

.icon-cont-center {
  justify-content: center;
}

.icon-btn {
  cursor: pointer;
}

.icon-btn:hover {
  background-color: lightgray;
}

.margin-right {
  margin-right: 6px;
}

.margin-left {
  margin-left: 6px;
}

.bottom {
  position: absolute;
  display: inline-block;
  bottom: 0px;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.close-left {
  position: relative;
  animation: closeleft 0.4s;
}

@keyframes closeleft {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: -300px;
    opacity: 0;
  }
}

.form-width {
  width: 300px;
}

.sidebar {
  position: fixed;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

.form-max-height-1 {
  max-height: 75%;
  overflow-y: visible;
}

.form-max-height-2 {
  max-height: 75%;
  overflow-y: scroll;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.loan-summary-max-height {
  max-height: 50vh;
  overflow-y: auto;
}

.overflow-hidden {
  overflow-y: hidden;
}

.clickable {
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: black;
  opacity: 0.3;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

th,
td {
  vertical-align: middle !important;
}

.cursor {
  cursor: pointer;
}

.invisible {
  opacity: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.remove-lender-contrib-pair-btn {
  min-height: 100% !important;
  height: 100% !important;
  display: inline-block;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

select {
  -webkit-appearance: button !important;
  -moz-appearance: button !important;
  appearance: button !important;
  cursor: pointer;
}

.padding-x {
  padding-left: 16px;
  padding-right: 16px;
}

.centered {
  margin: auto !important;
  float: unset !important;
}

.no-text-deco {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.half {
  width: 49.9% !important;
}

.third {
  width: 33.33% !important;
}

.twothird {
  width: 66.66% !important;
}

.quarter {
  width: 24.9% !important;
}

.threequarter {
  width: 74.9% !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.outline {
  outline: 1px solid lightgrey;
  border: 0;
}

.background {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: #ffffff;
  opacity: 1;
  background-size: 22px 22px;
  background-image: repeating-linear-gradient(
    0deg,
    #0c0c13,
    #0c0c13 1.1px,
    #ffffff 1.1px,
    #ffffff
  );
}
