/* Loader taken from https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
  border: 6px solid lightgray; /* Light grey */
  border-top: 6px solid black; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: fixed;
  right: 6px;
  bottom: 6px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  cursor: pointer;
}

.icon:hover {
  background-color: lightgray;
}
