/* Loader taken from https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
  border: 6px solid lightgray; /* Light grey */
  border-top: 6px solid black; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: fixed;
  right: 6px;
  bottom: 6px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-btn {
  cursor: pointer;
}

.icon-btn:hover {
  background-color: lightgray;
}

.icon-cont {
  display: flex;
  align-items: center;
}

.icon-cont-center {
  justify-content: center;
}

.margin-right {
  margin-right: 6px;
}

.margin-left {
  margin-left: 6px;
}

.bottom {
  position: absolute;
  display: inline-block;
  bottom: 0px;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding: 0px;
}

.close-left {
  position: relative;
  animation: closeleft 0.4s;
}

@keyframes closeleft {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: -300px;
    opacity: 0;
  }
}

.form-width {
  width: 300px;
}
